node_modules
.tmp
.sass-cache
.idea
build
dist
config/local.env.js
coverage
database.json
*.sqlite
.nyc_output

# Mac OS misc
.DS_Store
*DS_Store

# Log files
logs/
*.log
shared/

# Docker
**/.env
.env
local.env.js

# Unencrypted config files
deploy/*.config

# NPM keys
.npmrc